<h2>Details of: {{this.movie.title}}</h2>

<div>
    <p>Genre: {{this.movie.genre}}</p>
    <p>Plot: {{this.movie.plot}}</p>
    <p>Cast: </p>
    {{#each this.movie.cast}}
    <ul>
        <h6>Name: {{this.name}}</h6>
        <li>Occupation: {{this.occupation}}</li>
        <li>Mytic Phrase: {{this.catchPhrase}}</li>
    </ul>
    {{/each}}
    <form action="/movies/{{this.movie._id}}/delete" method="post">
        <button>Borrar</button>
    </form>
        
        <a href="/movies/{{this.movie._id}}/edit">
        <button>Modificar</button></a>
</div>